<nav>
    <div id="nav-logo" class="nav-element">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <fa-icon [icon]="faPlaneDeparture" [styles]="{'color': 'white'}"></fa-icon>
        </a>
    </div>
    <div id="nav-link" class="nav-element">
        <a href="#">RULES</a>
        <a routerLink="/about">ABOUT</a>
    </div>
    <div id="nav-social" class="nav-element">
        <a href="https://www.linkedin.com/" target=”_blank”>
            <fa-icon [icon]="faLinkedin" [styles]="{'color': 'white'}"></fa-icon>
        </a>
        <a href="https://github.com/derArneS" target=”_blank”>
            <fa-icon [icon]="faGithub" [styles]="{'color': 'white'}"></fa-icon>
        </a>
    </div>
    <div id="nav-user" class="nav-element">
        <a href="#">
            <fa-icon [icon]="faUser" [styles]="{'color': 'white'}"></fa-icon>
        </a>
    </div>
</nav>