#login-form-wrapper {
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
}

form > * {
    width: 100%;
    display: block;
}

#username {
    margin-bottom: 1rem;
}

#login-footer > a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}